.visit {
    position: relative;
    padding-bottom: 130px;

}

.visit__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.visit__img {
    width: 100%;
    height: 100%;
}

.visit-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;

    transform: translateY(10%);

}

.visit-blog__description {
    width: 870px;
    color: $text-text;
    text-align: center;
    font-family: Outfit;
    font-size: 22px;
    font-weight: 400;
    line-height: 145.455%;

}

.visit-blog__heading {
    width: 870px;
    color: $text-heading;
    text-align: center;
    font-family: Outfit;
    font-size: 48px;
    font-weight: 500;
    line-height: 116.667%;
    padding-top: 30px;
    padding-bottom: 70px;

}

.visit-blog__heading--color {
    color: #34C635;

}

.visit-blog__mail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.visit-blog__input {
    width: 235px;
    border-radius: 5px;
    padding: 12px;
    border: 1px solid #E7E5EA;
    color: $text-text;
    background-color: #FFF;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 162.5%;

}

.visit-blog__btn {  
    height: 48px;
    padding: 13px 24px;   
    border-radius: 5px;
    background-color:  #4F77FF;
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 14px;
    font-weight: 500;
    line-height: 171.429%;
    text-transform: uppercase;
    margin-left: 8px;
    transition: 0.3s;

}

.visit-blog__btn:hover {
    cursor: pointer;
    background-color: #85a0fa;
}
