.visit {
    background-image: url(../../../assets/img/img_background-bottom.png);
    background-size: cover;
    background-repeat: no-repeat;

}


.visit-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 106px 30px 106px 30px;


}

.visit-blog__description {
    color: $text-text;
    text-align: center;
    font-family: Outfit;
    font-weight: 400;
    line-height: 145.455%;
    font-size: 16px;
    
    @media (max-width: 575px) {
        
    }
    
    @media (min-width: 575px) {
        font-size: 18px;
        
    }
    
    @media (min-width: 768px) {
        font-size: 22px;
      
    }
        
    @media (min-width: 992px) {
        width: 870px;

    }

}

.visit-blog__heading {
    color: $text-heading;
    font-size: 30px;
    line-height: 116%;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 70px;
    text-align: center;
    font-family: Outfit;

    @media (max-width: 575px) {
        
    }
        
    @media (min-width: 575px) {
        font-size: 40px;
            
    }
        
    @media (min-width: 768px) {
        font-size: 48px;
      
    }
        
    @media (min-width: 992px) {
        width: 870px;
    
    }

}

.visit-blog__heading--color {
    color: #34C635;

}

.visit-blog__mail {
    display: flex;
    align-items: center;
    justify-content: center;

}

.visit-blog__input {
    width: 235px;
    border-radius: 5px;
    padding: 12px;
    border: 1px solid #E7E5EA;
    color: $text-text;
    background-color: #FFF;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 162.5%;

}

.visit-blog__btn {  
    height: 48px;
    padding: 13px 24px;   
    border-radius: 5px;
    background-color:  #4F77FF;
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 14px;
    font-weight: 500;
    line-height: 171.429%;
    text-transform: uppercase;
    margin-left: 8px;
    transition: 0.3s;

}

.visit-blog__btn:hover {
    cursor: pointer;
    background-color: #85a0fa;
    
}
